<header class ="new-head">
  <div class = "left-link">
  <%= link_to image_tag("logo.png", class: "pets-icon"), "/" %>
  </div>
  <div class ="right-link">
  <%= link_to '依頼一覧へ戻る', "/jobs", class: "job-back-btn " %>
  </div>
</header>

<div class ="nego-main">
 <div class ="nego">
      <div class = "main-up">
       <h2 class ="show-top">お散歩依頼情報の確認</h2>
        <div class = "contents">
          <div class ="show-pic">
           <% if @job.dog_picture.present?%>
           <%= image_tag @job.dog_picture, class: "show-craving-pic"%>
           <%else %>
           <%= image_tag "demo.png", class:"show-craving-pic"%>
           <%end %>
           <h3>
           <%= link_to @job.user.nickname , mypage_path(@job.user.id),class:"job-mypage"%>さんの依頼です
           </h3>
          </div>
        </div>
      </div>

      <div class ="main-middle"> 
          <table class = "nego-table">
            <caption>依頼詳細</caption>
           <tr >
           <th>犬の名前</th><td class ="w"><%= @job.dog_name %></td>
           </tr >
           <tr >
           <th>犬種</th><td class ="w"><%= @job.dog_bleed %></td>
           </tr >
           <tr >
           <th>犬の年齢</th><td class ="w">約<%= @job.dog_age %>歳</td>
           </tr >
          <tr>
          <th>希望散歩時間</th><td class ="w"><%= @job.working_hour.name %></td>
          </tr>
          <tr>
          <th>希望日時</th><td class ="w"><%= @job.working_date%></td>
          </tr>
          <tr>
          <th>希望時間帯</th><td class ="w"><%=@job.working_time.name%></td>
          </tr>
          <tr>
          <th>都道府県</th><td class ="w"><%= @job.user.address.prefecture %></td>
          </tr>
          <tr>
          <th>市町村</th><td class ="w"><%= @job.user.address.city%></td>
          </tr>
         </table>
      </div>
    </div> 

   
     <%= form_with  id: 'offer-get', class: 'offer-get',local: true do |f| %>
       <div class ="nego-btn">
         <div>
         <%= f.submit "申し込む！" ,class:"offer-btn" %>
         </div>
       </div>
     <% end %>
   
</div>