<%= render "shared/header" %>
 <div class ="main">
      <div class = "main-up">
       <h2 class ="show-top">お散歩依頼情報の確認</h2>
       <div class = "contents">
         <div class ="show-pic">
          <% if @job.dog_picture.present?%>
          <%= image_tag @job.dog_picture, class: "job-img"%>
          <%else %>
           <%= image_tag "demologo.png", class:"demo-pic"%>
          <%end %>
         </div>
         <div class = "show-titles">
           <div>
           <%= @job.user.nickname%>さんの依頼です
           </div>
           <div>
           タイトル<%= @job.title %>
           </div>
           <div>
           ワンちゃんの名前<%= @job.dog_name %>
           </div>
           <div>
           犬種<%= @job.dog_bleed %>
           </div>
           <div>
           ワンちゃんの年齢 約<%= @job.dog_age %>歳
           </div>
         </div>
        </div>
      </div>

      <div class ="main-middle">
        <div class = "show-ex">
         <h2>依頼詳細</h2>
         <div>
         希望散歩時間<%= @job.working_hour.name %>
         </div>
         <div>
         希望日時<%= @job.working_date%>
         </div>
         <div>
         希望時間帯<%=@job.working_time.name%>
         </div>
         <div>
         都道府県<%= @job.user.prefecture.name %>
         </div>
         <div>
         市町村<%= @job.user.city%>
         </div>
        </div>
        <div class ="show-text">
         <div>
         <%= @job.user.nickname%>さんからのメッセージ
         </div>
         <div>
         <%= @job.text%>
         </div>
        </div>
      </div>
   </div>
     
     
      <%= form_with  id: 'offer-get', class: 'offer-get',local: true do |f| %>
      <%if @job.job_history == nil %>
      <div class ="attention">
       <div>
       このワンちゃんのお散歩を申し込んでよろしいですか？
       </div>
       <div>
       <%= f.submit "申し込む！" ,class:"job-red-btn" %>
       </div>
       <p class='or'>もしくは</p>
       <div>
       <%= link_to '一覧へ戻る', jobs_path , class:'jobs-return-btn' %>
       </div>
       <%else%>
       <div>
       <%= link_to '一覧へ戻る', jobs_path , class:'job-return-btn' %>
       </div>
       <%end%>
    </div>
      <% end %>

</div>

<footer>
</footer>
