<div class = "new-reg-ad">
 <h2 class = "titile-newad">詳細情報の記載</h2>
 <%= form_for @address do |f| %>
 <%= render "shared/error_messages" ,model: f.object%>
 <div class ="ad-group">
    <div class ="ad-new">
      <label>郵便番号（半角ハイフン含む）を入力してください</label>
      <span class="imp-mark">必須</span>
    </div>
    <div class= "newad-in">
    <%=f.text_field :zip ,placeholder:"郵便番号をハイフンを入れて入力", class:"new-reg-in"%>
    </div>
  </div>
  <div class ="ad-group">
     <div class ="ad-new">
       <label>都道府県を選択してください</label>
       <span class="imp-mark">必須</span>
     </div>
     <div class= "newad-in">
      <%= f.collection_select(:prefecture_id,Prefecture.all, :id, :name, {}, {class:"new-reg-in"}) %>
     </div>
   </div>
   <div class ="ad-group">
      <div class ="ad-new">
       <label>市町村を入力してください</label>
       <span class="imp-mark">必須</span>
      </div>
      <div class= "newad-in">
      <%= f.text_field :city, placeholder:"市町村を入力してください", class:"new-reg-in"%>
      </div>
    </div>
    <div class ="ad-group">
       <div class ="ad-new">
         <label>携帯電話（半角ハイフンなし）を入力してください</label>
          <span class="imp-mark">必須</span>
       </div>
       <div class= "newad-in">
       <%= f.text_field :phone,placeholder:"携帯電話番号を入力してください", class:"new-reg-in"%>
       </div>
     </div>
   <div class= "new-ad-regbtn">
    <%= f.submit "登録する",class:"new-ad-btn"%>
  </div>
 <%end%>

</div>