 <div class ="main">
      <div class = "main-up">
       <h2 class ="show-top">お散歩提供情報の確認</h2>
       <div class = "contents">
         <div class ="show-pic">
          <% if @craving.craving_picture.present?%>
          <%= image_tag @craving.craving_picture, class: "craving-pic" %>
          <% else %>
          <%= image_tag "demologo.png", class:"demo-pic"%>
          <%end%>
         </div>
         <div class = "show-titles">
           <%= @craving.user.nickname%>さんのお散歩可能情報です
           <div>
           タイトル<%= @craving.title %>
           </div>
         </div>
        </div>
      </div>

      <div class ="main-middle">
        <div class = "show-ex">
         <h2>散歩の詳細情報</h2>
         <div class="w-expe">
         犬の飼育経験<%= @craving.experience.name %>
         </div>
         <div class ="w-date">
         希望日時<%=@craving.working_date%>
         </div>
         <div class ="w-hour">
         お散歩可能時間<%=@craving.working_hour.name%>
         </div>
         <div class ="w-time">
         お散歩可能時間帯<%=@craving.working_time.name%>
         </div>
         <div class ="w-pref"> 
         都道府県<%= @craving.user.address.prefecture%>
         </div>
         <div class="w-city">
         市町村<%= @craving.user.address.city%>
         </div>
        </div>
         <div class ="show-text">
           <div><%= @craving.user.nickname%>さんからのメッセージ</div>
         </div>
         <div>
         <%= @craving.text%>
         </div>
         </div>
        </div>
      </div>
   </div>


     <%= form_with  id: 'craving-offer-form', class: 'craving-offer-form',local: true do |f| %>
      <%if @craving.craving_history == nil %>
    <div class ="attention">
         <div class = "offer-btn">
          この方にお散歩を頼んでよろしいですか？
         </div>
         <div>
         <%= f.submit "お散歩を頼む！" ,class:"craving-red-btn" %>
         </div>
        <p class='or'>もしくは</p>
         <div>
         <%= link_to '一覧へ戻る', cravings_path , class:'cravings-return-btn' %>
         </div>
         <%else%>
         <div>
         <%= link_to '一覧へ戻る', cravings_path , class:'cravings-return-btn' %>
         </div>
         <%end%>
    </div>
      <% end %>

   
</div>

 <footer class = "main-bottom">
 </footer>