<%= render "shared/header" %>
<div class= 'main'>
 <%# 左上のロゴ%>
  <div class = 'top-logo'> 
  <%= image_tag "logo.png", class: "logo-icon"%>
  </div>

  <div class = 'left-text'>
   <h2>どんなに大好きな愛犬の散歩でもたまには休みたい日もありますよね</h2>
   <h2>いつもの時間にお散歩にいけなくなることもあります</h2>

  </div>

  <div class = 'right-images'> 
   <div class = 'up-image'><%= image_tag "logo.png", class: "logo-icon"%></div>
   <div class = 'middle-image'> <%= image_tag "logo.png", class: "logo-icon"%> </div>
   <div class = 'bottom-image'> <%= image_tag "logo.png", class: "logo-icon"%> </div>
  </div>
 
</div>
<%= render "shared/footer" %>
