<%= render "shared/header" %>
<div class= 'main'>
 
 <%#画面上部の帯部分%>
  <div class = 'text-job'>
   <h2 class ='text-title'>
    自分のためにすることが誰かのためになる
   </h2>
   <p class = 'title-explain'>犬のお散歩コミュニティーです</p>
   <p class = 'title-explain'>犬の散歩をして欲しい方と犬の散歩をしたい方を繋げるアプリです</p>
  </div>
  <%#画面上部の帯部分バックに写真%>

  <%#利用方法%>
  <div class = 'how-to'>
   <h2>ご利用方法</h2>
   <ul class = 'how-to-lists'>
     <li class = 'list'>
       <%= image_tag "register.jpg",class:"pets-regi-pic" %>
       <p>まずは簡単<a href="#" class="register-link">会員登録</a></p>
     </li>
     <li>
       <%= image_tag "postig.jpg" ,class:"pets-post-pic"%>
       <p>散歩の依頼または散歩をしたい旨（散歩の提供）を投稿</p>
     </li>
     <li>
       <%= image_tag "waiting.jpg" ,class:"pets-wait-pic"%>
       <p>あとは希望者を待つだけ</p>
     </li> 
   </ul>
  </div>
  <%#利用方法%>

   <%#説明%>
  <div class = 'text-craving'>
   <p>一人で歩くよりも犬と一緒に歩きたくありませんか？</p>
   <p>犬を飼いたくても飼えない！でも触れ合いたい</p>
   <p>誰かの役にも立ち自分のためにもなるなんて素敵ですよね</p>
  </div>

  <div class = 'text-job'>
   <p>時々お散歩を休みたい時はありませんか？</p>
   <p>体調が悪くて散歩に連れて行けない時もありますよね</p>
   <p>気軽に誰かに頼んだっていいんです</p>
  </div>
  <%#説明%>


  <div class = 'right-images'> 
   <div class = 'up-image'><%= image_tag "logo.png", class: "logo-icon"%></div>
   <div class = 'middle-image'> <%= image_tag "logo.png", class: "logo-icon"%> </div>
   <div class = 'bottom-image'> <%= image_tag "logo.png", class: "logo-icon"%> </div>
  </div>
 
</div>
<%= render "shared/footer" %>
