<%= render "shared/header" %>

<div class = "craving-main">
  <div class = "craving-contents">
   <div class = "craving-contener">
    <ul class='cravings-lists'>
      <% @cravings.each do |craving| %> 
      <li class='craving-list'> 
       <%= link_to "/cravings/#{craving.id}" do %>
        <div class='craving-pic'>
           <%# 交渉ずみならばフラッグをつける表示 %>
            <% if craving.craving_history.present?%> 
            <%= image_tag "flag.png", class:"flag"%>
            <%end%>
            <%# //交渉ずみならば表示 %>
          <% if craving.craving_picture.present?%>
          <%= image_tag craving.craving_picture, class: "craving-pic" %>
          <% else %>
          <%= image_tag "demo.png", class:"craving-pic"%>
          <%end%>
        </div>
          <div class='cr-info'>
            <div class='cr-name'>
             <%= craving.user.nickname %>さんの投稿
            </div>
            <div class='cr-title'>
            タイトル：<%= craving.title %>
            </div>
            <div class ="cr-date">
             日にち：<%= craving.working_date %>
            </div>
            <div class ="cr-hour">
             散歩可能時間：<%= craving.working_hour.name %>
            </div>
            <div class ="cr-prefecture">
             地域：<%= craving.user.address.prefecture %>
            </div>
          </div> 
        <% end %>
      </li>
      <% end %>
      <%# 投稿がない場合のダミー %>
      <% if @cravings.length == 0 %>
       <li class='craving-list'>
         <%= image_tag "craving.png", class: "job-img" %>
         <div class='cr-info'>
           <h3 class='cr-title'>
            提供依頼ボタンから投稿！
           </h3>
            <div class='cr-name'>
             例）犬吉さんはお散歩にいけます
            </div>
            <div class ="cr-date">
              日にち
            </div>
            <div class ="cr-hour">
              散歩可能時間
            </div>
          </div>
        </li>
        <% end %>
      <%# //投稿がない場合のダミー %>
    </ul>
   </div>
  </div>

</div>
<footer>
  <div class = "j-craving-btn"> 
    <%= link_to "お散歩依頼一覧へ",jobs_path,class:"" %>
  </div>
</footer>