<%= render "shared/header" %>
<div class ="show-main">
      <div class = "show-main-up">
       <h2 class ="show-top">お散歩提供情報</h2>
       <div class = "show-contents">
         <div class ="show-pic">
           <div class = "show-nickname">
            <%= link_to @craving.user.nickname ,mypage_path(@craving.user.id),class:"show-my"%>さんのお散歩可能情報です
           </div>
           <%# 交渉ずみならばフラッグをつける表示 %>
            <% if @craving.craving_history.present?%> 
            <%= image_tag "flag.png",class:"show-flag"%>
            <%end%>
           <%# //交渉ずみならば表示 %>
            <% if @craving.craving_picture.present?%>
            <%= image_tag @craving.craving_picture, class: "show-craving-pic" %>
            <% else %>
            <%= image_tag "demo.png", class:"show-craving-pic"%>
            <%end%>
         </div>
        </div>
      </div>

      <div class ="show-main-middle">
        <div class = "show-ex">
            <h2 class = "sanpo-show">散歩の詳細情報</h2>
            <table>
           <tr class ="">
           <th>タイトル</th><td class ="w"><%= @craving.title %></td>
           </tr>
           <tr class="">
           <th>犬の飼育経験</th><td class ="w"><%= @craving.experience.name %></td>
           </tr>
           <tr class ="w-date">
           <th>希望日時</th><td class ="w"><%=@craving.working_date%></td>
           </tr>
           <tr class ="w-hour">
           <th>お散歩可能時間</th><td class ="w"><%=@craving.working_hour.name%></td>
           </tr>
           <tr class ="w-time">
           <th>お散歩可能時間帯</th><td class ="w"><%=@craving.working_time.name%></td>
           </tr>
           <tr class ="w-pref"> 
           <th>都道府県</th><td class ="w"><%= @craving.user.address.prefecture %></td>
           </tr>
           <tr class="city">
           <th>市町村</th><td class ="w"><%= @craving.user.address.city%></td>
           </tr>
           <tr class ="show-text">
             <th><%= @craving.user.nickname%>さんからメッセージ</th>
              <td class ="w"><%= @craving.text%></td>
            </tr>
            </table>
         </div>
      </div>
  </div> 

<div class = "cr">
   <div class ="cr-offer-btn">
     <% if user_signed_in? && current_user.id == @craving.user_id %>
     <%= link_to '削除', craving_path(@craving.id) , method: :delete, class:'cr-destroy' %>
     <%= link_to '編集', edit_craving_path(@craving.id), method: :get, class: "cr-edit" %>
    <%= link_to '一覧へ戻る', cravings_path , class:'cravings-return-btn' %>
     <%else%> 
         <% if @craving.craving_history == nil  %> 
            <%= link_to 'この方に散歩を依頼する',craving_cravingnegotiations_path(@craving.id), method: :get,class:"cr-nego-btn"%> 
            <%= link_to '一覧へ戻る', cravings_path , class:'cravings-return-btn' %>
             <%else%> 
             <%= link_to '一覧へ戻る', cravings_path , class:'cravings-return-btn' %>
           <%end %>
     <% end %> 
    </div>
 </div>