<%= render "shared/header" %>

<div class = "main">
  <div class = "job-contents">
   <div class = "job-contener">
    <ul class='jobs-lists'>
      <% @jobs.each do |job| %> 
      <li class='job-list'>
       <%#link_to do〜endで要素を同時にリンクにした%>
       <%= link_to "/jobs/#{job.id}" do %>
         <div class='job-img'>
           <%# 交渉ずみならばフラッグをつける表示 %>
            <% if job.job_history.present?%> 
            <%= image_tag "flag.png" , class:"flag"%>
            <%end%>
           <%# //交渉ずみならば表示 %>
           <% if job.dog_picture.present?%>
           <%= image_tag job.dog_picture, class: "job-img" %>
           <% else %>
           <%= image_tag "demo.png", class:"job-img"%>
           <%end%>
         </div>
         <div class='job-info'>
           <div class='dog-name'>
             犬の名前：<%= job.dog_name %>
           </div>
           <div class ="dog-bleed">
             犬種：<%= job.dog_bleed %>
           </div>
            <div class ="dog-date">
             希望日：<%= job.working_date %>
           </div>
           <div class ="dog-prefecture">
             地域：<%= job.user.address.prefecture %>
           </div>
         </div>
       <% end %>
       <%#link_to do〜endで要素を同時にリンクにした%>
      </li>
     <% end %>
      <%# 投稿がない場合のダミー %>
      <% if @jobs.length == 0 %>
       <li class='job-list'>
         <%= image_tag "dog_up.jpg", class: "job-img" %>
         <div class='job-info'>
           <h3 class='job-title'>
            散歩依頼ボタンから投稿！
           </h3>
            <div class='dog-name'>
              名前:犬吉
            </div>
            <div class ="dog-bleed">
              犬種:柴犬
            </div>
            <div class ="dog-prefecture">
              地域:沖縄県
            </div>
          </div>
        </li>
      <% end %>
      <%# //投稿がない場合のダミー %>
    </ul>
   </div>
  </div>

</div>
<footer>
  <div>
    <%= link_to "お散歩提供一覧へ",cravings_path,class:"job-craving-btn" %>
  </div>
</footer>