<%= render "shared/header" %>

<div class = "main">
  <div class = "job-contents">
    <h2 class = "title">散歩依頼一覧</h2>
   <div class = "job-contener">
    <ul class='jobs-lists'>
      <% @jobs.each do |job| %> 
      <li class='job-list'>
       <%= link_to "/jobs/#{job.id}" do %>
        <div class='job-img'>
          <% if job.dog_picture.present?%>
          <%= image_tag job.dog_picture, class: "job-img" %>
          <% else %>
          <%= image_tag "demologo.png", class:"demo-pic"%>
          <%end%>
        </div>
        <div class='job-info'>
          <%# 交渉ずみならばフラッグをつける表示 %>
          <% if job.job_history.present?%> 
          <%= image_tag "flag.png"%>
          <%end%>
          <%# //交渉ずみならば表示 %>
           <h2 class='job-title'>
            タイトル：<%= job.title %>
           </h2>
           <div class='dog-name'>
             名前：<%= job.dog_name %>
           </div>
           <div class ="dog-bleed">
             犬種：<%= job.dog_bleed %>
           </div>
           <div class ="dog-prefecture">
             地域：<%= job.prefecture.name %>
           </div>
        </div>
       </div> 
       <% end %>
      </li>
      <% end %>
      <%# 投稿がない場合のダミー %>
      <% if @jobs.length == 0 %>
       <li class='job-list'>
         <%= image_tag "dog_up.jpg", class: "job-img" %>
         <div class='job-info'>
           <h3 class='job-title'>
            散歩依頼ボタンから投稿！
           </h3>
            <div class='dog-name'>
              名前:犬吉
            </div>
            <div class ="dog-bleed">
              犬種:柴犬
            </div>
            <div class ="dog-prefecture">
              地域:沖縄県
            </div>
          </div>
        </li>
      <% end %>
      <%# //投稿がない場合のダミー %>
    </ul>
   </div>
  </div>

</div>
<footer>
  <div > 
    <%= image_tag "logomini.png", class: "job-foot-img" %>
  </div>
  <div>
    <%= link_to "お散歩提供一覧へ",cravings_path,class:"job-craving-btn" %>
  </div>
</footer>