<%= render "shared/header" %>
 <div class ="job-show-main">
      <div class = "show-main-up">
       <h2 class ="show-top">お散歩依頼情報</h2>
       <div class = "contents">
          <div class ="show-pic">
            <div class = "show-nickname">
            <%= link_to @job.user.nickname , mypage_path(@job.user.id),class:"job-mypage"%>さんのお散歩依頼です
            </div>
           <%# 交渉ずみならばフラッグをつける表示 %>
             <% if @job.job_history.present?%> 
             <%= image_tag "flag.png",class:"show-flag"%>
             <%end%>
            <%# //交渉ずみならば表示 %>
           <% if @job.dog_picture.present?%>
           <%= image_tag @job.dog_picture, class: "show-craving-pic" %>
           <% else %>
           <%= image_tag "demo.png", class:"show-craving-pic"%>
           <%end%>
          </div>
        </div>
      </div>

      <div class ="main-middle">
        <div class = "show-ex">
         <h2 class = "sanpo-show">依頼詳細</h2>
        <table>
         <tr>
          <th>タイトル</th><td class ="w"><%= @job.title %></td>
          </tr> 
          <tr>
          <th>ワンちゃんの名前</th><td class = "w"><%= @job.dog_name %></td>
          </tr>
          <tr>
           <th>犬種</th><td class = "w"><%= @job.dog_bleed %></td>
           </tr>
           <tr>
           <th>ワンちゃんの年齢</th><td class = "w">約<%= @job.dog_age %>歳</td>
           </tr>
         <tr>
         <th>希望散歩時間</th><td class ="w"><%= @job.working_hour.name %></td>
         </tr>
         <tr>
         <th>希望日時</th><td class ="w"><%= @job.working_date%></td>
         </tr>
         <tr>
         <th>希望時間帯</th><td class ="w"><%=@job.working_time.name%></td>
         </tr>
         <tr>
         <th>都道府県</th><td class ="w"><%= @job.user.address.prefecture %></td>
         </tr>
         <tr>
         <th>市町村</th><td class ="w"><%= @job.user.address.city%></td>
         </tr>
         <tr class ="show-text">
          <th><%= @job.user.nickname%>さんからのメッセージ</th>
          <td class ="w"><%= @job.text%></td>
          </tr>
        </table>
        </div>
      </div>
   </div>

<div class = "cr">
 <div class = "cr-offer-btn">
    <% if user_signed_in? && current_user.id == @job.user_id %>
    <%= link_to '編集', edit_job_path(@job.id), method: :get, class: "cr-edit" %>
    <%= link_to '削除', job_path(@job.id) , method: :delete, class:'cr-destroy' %>
    <%= link_to '一覧へ戻る', jobs_path , class:'cravings-return-btn' %>
    <%else%>
         <% if @job.job_history == nil  %> 
            <%= link_to '申し込む',  job_jobnegotiations_path(@job.id), method: :get,class:"cr-nego-btn"%> 
            <%= link_to '一覧へ戻る', jobs_path , class:'cravings-return-btn' %>
            <%else%>
            <%= link_to '一覧へ戻る', jobs_path , class:'cravings-return-btn' %>
          <%end %>
    <% end %> 
  </div>
</div>