<header>
</header>
  <%= form_with model:@user, class: 'mypage-show',local: true do |f| %>  
  <div class = "main">
     <h2><%= @user.nickname%>さんのマイページ</h2>
    <div class ="up-content">
         <div class="click-upload">
           <p>
           クリックしてファイルをアップロード※自分をアピールできる写真を載せてみよう。
           </p>
           <div>
            <%if @user.mypage_picture.present?%>
            <%= f.file_field :mypage_picture,class:"mypage-pic" %>
            <%else%>
            <%= image_tag "demologo.png"%>
            <%end%>
            </div>
         </div>
        <div>
          <div>ニックネーム</div>
          <div>
          <%= f.text_area :nickname, class:"nickname", placeholder:"例) Pets太郎", maxlength:"40",autofocus: true %>
          </div>
        </div>
        <div>
          <div>犬愛をアピール</div>
          <%= f.collection_select(:dog_love_id,DogLove.all, :id, :name, {}, {class:"select-box", id:"dog_love"}) %>
        </div>
        <div>
          <div>自己紹介</div>
          <div>
          <%= f.text_area :text, class:"nickname", placeholder:"例) 犬が大好きで幼い頃から飼育経験があります。等", maxlength:"40",autofocus: true %>
          </div>
        </div>
     </div>

    <div class ="history-past">
      <div class = "craving_history_past">
        <div>過去のお散歩実績</div>
       <ul class ="history_list">
         <li>
          <% @user.craving_history.each do |craving_history| %> 
           <%if craving_history.present?%>
            <%=craving_history.craving.working_date%>
            <%else%>
           <%= "過去のお散歩実績はありません"%>
            <%end%>
          <%end%>
        </li>
       </ul>
      </div>
      <div class = "job_history_past">
        <div>過去の依頼実績</div>
       <ul class ="history_list">
         <li>
          <% @user.job_history.each do |job_history| %> 
           <%if job_history.present?%>
            <%=job_history.job.working_date%>
            <%else%>
           <%= "過去の依頼実績はありません"%>
            <%end%>
          <%end%>
        </li>
       </ul>
      </div>
    </div>

    <div class ="tips">
    </div>
    


    <div class ="btn-mypage">
      <%=f.submit "変更する"　, class:"edit"%>
     </div>

     <div class ="back-btn">
     <%= link_to '戻る', root_path , class:'top-return-btn' %>
     </div>
     



</div>

<footer>
</footer>