<header class='top-page-header'>
  <div class='nav'>
    <div class = "lists-left">
    <div class='pets-logo'>
    <%= link_to image_tag("logo.png", class: "pets-icon"), "/" %>
    </div>
    <div>
    <% if user_signed_in?  %>
     <span class ="nickname">ようこそ<%= current_user.nickname  %>さん</span>
     <%end%>
     </div>
     </div>

    <div class = "right">
      <ul class='li-mid'>
        <li><%= link_to 'お散歩依頼を投稿', "/jobs/new", class: "job-btn" %></li>
        <li><%= link_to 'お散歩提供を投稿', "/cravings/new", class: "craving-btn" %></li>
      </ul>
      <div class='li-right'>
       <% if user_signed_in?  %>
        <div><%= link_to image_tag("mypage.png",class: "show-mypage"),mypage_path(current_user.id) %> </div>
        <div><%= link_to image_tag("logout.png",class: "logout"), destroy_user_session_path, method: :delete%> </div> 
       <%else%>
        <div><%= link_to image_tag("login.png",class: "login"),new_user_session_path %></div>
        <div><%= link_to  image_tag("reg.png",class: "sign-up"),new_user_registration_path %></div>
       <%end%>
      </div>
    </div>
  </div>
</header>
