<div class = "my-main">
<h2>変更箇所を記載してください</h2>
<h3><%= current_user.nickname%>さんのマイページ</h3>
  <%= form_with model:@mypage,class: 'mypage-new',local: true do |f| %> 
   <%= render 'shared/error_messages', model: f.object %>  
   <div class = "my-contents">
    <div class ="up-content">
         <div class="click-upload">
           <p>
           ※自分をアピールできる写真を載せてみよう。
           </p>
           <div class = "my-text">
            <%= f.file_field :mypage_picture,class:"mypage-pic" %>
           </div>
         </div>
        <div>
           <div>犬愛をアピールしてね<span class="important-mark">必須</span></div>
           <div class = "my-text">
            <%= f.collection_select(:dog_love_id,DogLove.all, :id, :name, {}, {class:"select-box", id:"dog_love"}) %>
           </div>
        </div>
        <div>
          <div>自己紹介<span class="important-mark">必須</span></div>
          <div class = "my-text">
          <%= f.text_area :text, class:"introduce-text", placeholder:"例) 犬が大好きで幼い頃から飼育経験があります。等", maxlength:"400",autofocus: true %>
          </div>
        </div>
     </div>
    <div class ="btn-mypage">
      <%=f.submit "編集完了" , class:"offer-btn"%>
    </div>
   </div>
  <% end %>
  </div>
  <div class = "foot">
  <%= image_tag "animals_02.png" ,:size =>'800x200', class:"my-foot"%>
  </div>