  <header class = "my-show-head">
     <div><%= link_to 'お散歩依頼一覧へ', jobs_path , class:'job-btn' %></div>
     <div><%= link_to 'TOPへ', root_path , class:'my-root-btn' %></div>
     <div><%= link_to 'お散歩提供一覧へ', cravings_path , class:'craving-btn' %></div>
  </header>
<div class = "my-show-main">
   <h2 class = "my-nick"><%= @mypage.user.nickname%>さんのページ</h2>
    <div class ="mypage-show-con">
         <div class="my-texts">
             <div class="show-mypage-pic">
               <%if @mypage.mypage_picture.present? %>
               <%= image_tag @mypage.mypage_picture , class:"mypage-show-pic"%>
               <%else%>
               <%= image_tag "logomini.png" , class:"mypage-show-pic"%>
               <%end%>
             </div>
             <div class = "my-love"><%= @mypage.dog_love.name %></div>
         </div>
         <table class = "self-text">
           <th>自己紹介</th>
           <tr>
             <td class = ""><%= @mypage.text%></td>
           </tr>
         </table>
     </div>

      <div class ="history-past">
         <div class = "craving_history_past">
            <ul class ="history_list">
             <li>散歩依頼歴</li>
                <% @craving_histories.each do |craving_history| %> 
                    <%if @mypage.user_id == craving_history.user_id  %>
                 <li class = "my-his">
                     <% @crid = craving_history.craving_id%>
                     <%=Craving.find(@crid).working_date%>
                    <% @mylink = Craving.find(@crid).user_id%>
                     <%=link_to User.find(@mylink).nickname, mypage_path(@mylink), class:"mynego"%>さんに依頼済み</li>
                    <%end%>
                    <%end%>
            </ul>
          </div>
         <div class = "job_history_past">
            <ul class ="history_list">
            <li>散歩実施歴</li>
              <% @job_histories.each do |job_history| %>  
              <%if @mypage.user_id == job_history.user_id %>  
              <li class = "my-his">
                    <% @jobid = job_history.job_id%>
                   <%=Job.find(@jobid).working_date%>
                   <% @mylinkjob = Job.find(@jobid).user_id%>
                    <%=link_to User.find(@mylinkjob).nickname, mypage_path(@mylinkjob), class:"mynego"%>さんのお散歩を実施</li>
              <%end%>  
              <%end%>
            </ul>
        </div>
      </div>
</div>
  <div class ="my-link-btn">
     <% if user_signed_in? && current_user.id == @mypage.user_id %>
     <div><%= link_to "編集する" ,"/mypages/#{@mypage.id}/edit", class:"cr-edit"%></div>
     <%end%>
  </div>
  