<header>
</header> 
  <div class = "main">
     <h2><%= current_user.nickname%>さんのマイページ</h2>
    <div class ="up-content">
         <div class="click-upload">
           <div>
            <%if @mypage.mypage_picture == nil %>
            <%= image_tag "demologo.png"%>
            <%else%>
            <%= image_tag @mypage.mypage_picture, class:"mypage-pic" %>
            <%end%>
            </div>
         </div>
          <div>犬愛をアピール</div>
          <%if @mypage.dog_love_id == nil %>
           <%="まだ記載がありません"%>
          <%else%>
          <%= @mypage.dog_love_id.name %>
          <%end%>
        </div>
        <div>
          <div>自己紹介</div>
          <div>
          <%if @mypage.text == nil %>
          <%="まだ記載がありません"%>
          <%else%>
          <%= @mypage.text%>
          <%end%>
          </div>
        </div>
     </div>

    <div class ="tips">
    </div>
    
     <div class ="back-btn">
     <%= link_to '戻る', root_path , class:'top-return-btn' %>
     </div>
     
</div>
<footer>
</footer>